<div>
  <div class="row header-app">
    <div class="link-new-project" (click)="onCreateProject()">
      <div class="new-project" id="new-project"> + New project
      </div>
    </div>
    <div>
      <h1>YAPMT Projects</h1>
    </div>
  </div>
</div>