<div>
  <h3>Project list:</h3>
  <div *ngIf="projects.length > 0">
    <div *ngFor="let project of projects; let first = first;" class="iten-list">
      <a (click)="onSelect(project.id)" [ngClass]="{'current': selectedId == project.id}" class="list-group-item">
        <strong>{{project.name}}</strong>
      </a>
    </div>
  </div>
  <div *ngIf="projects.length == 0" className="list-group-item">
    <a>
      <strong> No projects</strong>
    </a>
  </div>
</div>