/* You can add global styles to this file, and also import other style files */
@import "bootstrap.min.css";

.header-app {
    background-color: #131f6b;
    color: #FFF;
    display: flex;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    height: 64px;
    webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.23);
    margin-right : 0;
}

.content {
    position: absolute;
    left: 0;
    right: 0;
    top:  64px;
    height: calc(100% - 64px);
}
 .content > .row {
    margin-right : 0;
}
.row {
    margin-right : 0;
}
.link-new-project{
    position: absolute;
    left: 25px;
    cursor: pointer;
}

.link-new-project > .new-project {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
}
.new-project:hover {
    color: #007bff;
}
.project-detail-content {
    margin-top: 30px;
}

.project-title {
    width: 100%;
    border: none;
    border-bottom: 2px solid;
    font-size: 36px;
    outline-color: snow;
}




/*  snackbar */
#snackbar-element {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    right: 10%;
    top: 30px;
    font-size: 14px;
    font-weight: 500;
}
#snackbar-element.success-snackbar{
    background-color: #4CAF50;
}
#snackbar-element.warning-snackbar{
    background-color: #f14b2b;
}
#snackbar-element.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;} 
    to {top: 30px; opacity: 1;}
}

@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {top: 30px; opacity: 1;} 
    to {top: 0; opacity: 0;}
}

@keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
}