<div *ngIf="!!showForm" class="project-detail-content container-fluid">
  <div class="panel">
    <div class="row">
      <div class="col-8">
        <form [formGroup]="form" (submit)="onSave($event)">
          <input [readonly]="isReadonly" placeholder="Type new project name" formControlName="projectName" [(ngModel)]="projectName"
            name="projectName" class="project-title" max="30" maxlength="30" />
        </form>
      </div>
      <div class="col-2">
        <div *ngIf="!!project">
          <div class="status-title">STATUS</div>
          <div class="status-project">
            {{statusProject}}
          </div>
        </div>
      </div>
      <div class="col-2">
        <div *ngIf="!!project" (click)="onDelete()" class="delete-area">
          <span class="delete">Delete</span>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div *ngIf="!!project" class="taks-content">
      <app-task-list [tasks]="project.tasks"></app-task-list>
      <app-task-detail [projectId]="project.id"></app-task-detail>
    </div>
  </div>
</div>