.delete-area {
    width: 100%;
    height: 100%;
    background-color: #f14b2b;
    color: #FFF;
    font-weight: 600;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.delete-area:hover {
    opacity: 0.7;
    color: #000;
}

.status-title {
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    display: flex;
    justify-content: center;
}
.status-project {
    background-color: #333;
    color: #FFF;
    text-align: center;
    margin-top: 20px;
}

.taks-content {
    margin-top: 30px;
    border-top: 5px solid;
}