.task-box {
    padding-top: 20px;
}
.task-item {
    color: #333;
    font-size: 18px;
    font-weight: 700;
}
.check-area {
    cursor: pointer;
}
.no-task {
    padding: 10px;
    text-align: center;
}

.task-completed {
    color: #ccc;
    text-decoration: line-through;
}
.task-late{
    color: #f14b2b !important;
}