<div class="task-box" *ngIf="tasks.length > 0">
  <div *ngFor="let task of tasks">

    <div (click)="onUpdateStatus(task)" class="form-check check-area">
      <input class="form-check-input" type="checkbox" [checked]="task.completed">
      <label class="form-check-label" for="defaultCheck1">
        <div [ngClass]="onSetClass(task)" class="task-item">{{onGetDescription(task)}}</div>
      </label>
    </div>
  </div>
</div>

<div class="task-item no-task" *ngIf="tasks.length == 0">
  No task.
</div>