.add-task-area {
    text-align: right; 
}
.add-task {
    text-align: right;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 500;
}

.cancel-task{
    text-align: right;
    cursor: pointer;
    font-size: 22px;
    font-weight: 800;
}

.add-task:hover {
    text-decoration: underline;
}
.cancel-area {
    text-align: right;
    width: 70%;
}

.cancel-task:hover {
    text-decoration: underline;
}

.input-custom {
    border: none;
    border-bottom: 2px solid;
    font-size: 12.5px;
    outline-color: snow;
    width: 21%;
}

.add-task-form{
    width: 100%;
}