<div>
  <div *ngIf="!editing" class="add-task-area">
    <span (click)="setEditingState()" class="add-task">
      + Add Task
    </span>
  </div>

  <div *ngIf="!!editing" class="create-task-area">
    <div class="cancel-area">
      <span class="cancel-task"  (click)="setEditingState()">x</span>
    </div>
    <div class="add-task-form">
      <form [formGroup]="formTask" (submit)="onSave($event)" (keydown)="onSave($event)">
          <input
          placeholder="Type a task description"
          formControlName="taskDescription"
          [(ngModel)]="taskDescription"
          name="taskDescription"
          class="input-custom"
          max="30"
          maxlength="30" /> 
          @
          <input
          placeholder="Enter the task owner"
          formControlName="taskOwner"
          [(ngModel)]="taskOwner"
          name="taskOwner"
          class="input-custom"
          max="30"
          maxlength="30" /> 
          ,
          <input
          placeholder="Due date month/day (MM/dd)."
          formControlName="taskDueDate"
          [(ngModel)]="taskDueDate"
          name="taskDueDate"
          class="input-custom"
          max="5"
          maxlength="5" />
        </form>
    </div>
  </div>
</div>